asgiref
beautifulsoup4
certifi
charset-normalizer
colorama
cycler
Django
djangorestframework
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
Pillow
pyparsing
python-dateutil
pytz
requests
scipy
six
soupsieve
sqlparse
tqdm
tzdata
urllib3
